---
import moment from 'moment';
import readingTime from 'reading-time';

import { Text } from '@/components/elements';

import type { BlogTimeProps as Props } from './types';

const { content, publishedDate } = Astro.props;

---

<div class="flex gap-2 align-middle">
  <Text
    typography="small"
    color="subtitle"
    class="font-light"
  >
    {readingTime(content).text}
  </Text>

  <Text
    typography="small"
    color="subtitle"
    class="font-light"
  >
    · 
  </Text>

  <Text
    typography="small"
    color="subtitle"
    class="font-light"
  >
    {moment(publishedDate).format('MMM DD, YYYY')}
  </Text>
</div>