---
import { Container, Text } from '@/components/elements';
import { BlogCard } from '@/components/ui';
import { BaseLayout } from '@/layouts';
import { getBlogs } from '@/stores/blogStore';

const blogs = await getBlogs.get();

---

<BaseLayout>
  <Container>
    <header class="mb-10">
      <Text as="h1" typography="heading">My Blogs</Text>
      <Text color="subtitle" class="mt-2">
        Explore my thoughts and expertise in these concise blog posts.
      </Text>
    </header>
    
    <div class="flex flex-col gap-10">
      {blogs.map(blog => (
        <BlogCard blog={blog} />
      ))}
    </div>
  </Container>
</BaseLayout>