---
import { Container, Logo, Text, Link } from '@/components/elements';
---

<Container class="z-navbar mb-16 sticky top-2 background-blur rounded-2xl">
  <nav class="p-3">
    <Link href="/" noDecoration>
      <div class="flex items-end">
        <Logo />
        <Text typography="small" resetColor class="italic text-primary-main font-bold">Blog</Text>
      </div>
    </Link>
  </nav>
</Container>