---
import { ThemeScript } from 'astro-theme-toggle';

import { FontAssets, Seo } from '@/components/elements';
import { Navbar, Footer } from '@/components/ui';

import '@/assets/styles/globals.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <FontAssets />
    <ThemeScript />
    <Seo />
  </head>
  <body class="min-h-dvh flex flex-col dark:bg-theme-dark bg-white">
    <Navbar />

    <main class="relative flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>