---
import { Icon } from 'astro-icon/components';
import { twMerge } from "tailwind-merge";

import type { ThemeButtonProps as Props } from './types';

const {
  class: className
} = Astro.props;

const generalClassName =
  'text-xl absolute -translate-x-1/2 left-1/2 bottom-1/2 transition-transform duration-[2s] ease-elastic';

const ICON_CLASSNAME = {
  dark: `scale-50 md:group-hover/theme:translate-y-[300%] translate-y-[300%]
    dark:translate-y-1/2 md:dark:group-hover/theme:translate-y-[100%] dark:scale-100`,
  light: `translate-y-1/2 md:group-hover/theme:translate-y-[100%]
    dark:translate-y-[300%] dark:group-hover/theme:translate-y-[300%] dark:scale-50`
};

---

<button
  id="theme-toggle"
  type="button"
  class={twMerge(
    'p-4 relative grid place-content-center overflow-hidden group/theme',
    'border-b border-b-transparent hover:md:border-b-gray-200 dark:hover:md:border-b-neutral-700',
    'transition-color duration-500',
    className
  )}
  role="switch"
  title="Change theme"
>
  <Icon name="bi:moon-fill" class={twMerge('text-primary-main', generalClassName, ICON_CLASSNAME.dark)} />
  <Icon name="bi:sun-fill" class={twMerge('text-secondary-main', generalClassName, ICON_CLASSNAME.light)} />
</button>

<script>
  import { handleToggleClick } from 'astro-theme-toggle';

  document.getElementById('theme-toggle')
    ?.addEventListener('click', handleToggleClick);
</script>
